<div class="padded">
  <h3>Basic Async Button: isDestroyed :( :( :(</h3>

  <div class="row">
    <div class="six columns">
      {{code-snippet name="exhibit-d.js" class="large-example"}}
    </div>
    <div class="six columns">
      {{code-snippet name="exhibit-d.hbs"}}

      {{! BEGIN-SNIPPET exhibit-d }}
      <button onclick={{action 'refreshData'}}
          class={{if isIdle 'clickable'}}>
        Refresh
      </button>
      <p>Data: {{data.value}}</p>
      {{! END-SNIPPET }}
    </div>
  </div>
</div>

